# Auth0 - Single Page Application
VITE_AUTH0_DOMAIN=tu-dominio.auth0.com
VITE_AUTH0_CLIENT_ID=tu_client_id

# Solo necesario si vas a llamar una API protegida
VITE_AUTH0_AUDIENCE=https://tu-api-identifier
