# Auth0 - Regular Web Application
AUTH0_DOMAIN=tu-dominio.auth0.com
AUTH0_CLIENT_ID=tu_client_id
AUTH0_CLIENT_SECRET=tu_client_secret
AUTH0_AUDIENCE=https://tu-dominio.auth0.com/api/v2/

# App
APP_SECRET=una_clave_secreta_larga_y_aleatoria_para_la_sesion
BASE_URL=http://localhost:3000
PORT=3000
